@import "~app/styles/includes/vars";

.list-group {
    margin-bottom: 0;
    font-size: $font-size-base * 1.25;

    > .list-group-item {
        border: none;
        margin: 0;
        padding: 0;

        .list-group {
            margin-left: 2rem;
            font-size: $font-size-base;
        }

        > a.list-group-item-title {
            display: block;
            cursor: pointer;
            text-decoration: none;
            padding: 0.75rem 1.5rem;
        }
    }

    &.collapse.in {
        > .list-group-item-title {

        }
    }
}