@import "~app/styles/includes/vars";

.menu-item {
    border: none;
    margin: 0;
    padding: 0;

    .menu-item-title {
        position: relative;

        a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            padding: 0.75rem 1.5rem;
        }

        .collapse-icon {
            position: absolute;
            left: 0;
            margin: 1em -0.5em;

            font-size: 0.8em;

            transform: rotate(0);
            transition: transform 0.25s ease;
        }
    }

    &.collapsed {
        .collapse-icon {
            transform: rotate(-90deg);
        }
    }

    .menu-item-children {
        padding-left: 2rem;
        border-left: $gray-lighter 1px solid;
    }
}