// Paths
$fa-font-path: "~font-awesome/fonts/";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Colors
$brand-primary: hsl(205, 25%, 18%);

// Fonts
$web-font-path: 'https://fonts.googleapis.com/css?family=Lato:300,400';
$font-family-sans-serif: 'Lato', sans-serif;

$headings-font-weight: 400;

// Elements
$side-nav-width: 30rem;