<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <img class="navbar-brand-logo" src="../assets/images/logo_shadow.png" alt="Bindr Logo"/>
                Bindr
            </a>
        </div>
    </div>
</nav>

<div class="container bindr-root">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="list-group">
                <div class="list-group-item">
                    Cras justo odio
                </div>
                <div class="list-group-item">
                    Dapibus ac facilisis in
                </div>
                <div class="list-group-item">
                    Morbi leo risus
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">

        </div>
    </div>
</div>